@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,600&family=DM+Mono:wght@300;400;500&display=swap');

html{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#canvases {
    display: flex;
    gap: 10px;
}

.canvas-slot{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.canvas-label{
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #8a7d6a;
    padding: 0.5rem 0;
    border-bottom: 1px solid #d4c9b0;
    margin-bottom: 0.5rem;
}

#canvas1, #canvas2 {
    height: 400px;
    display: block;
}

.ruler-canvas{
    display: block;
    background: #f5f0e8;
    width: 100%;
    font-size: 10px;
    font-family: 'DM Mono', monospace;
}

.freq-ruler{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
    font-size: 0.6rem;
    color: #8a7d6a;
    letter-spacing: 0.05rem;
}

#legend{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-top: 1px solid #d4c9b0;
    margin-top: 0.5rem;
}

.legend-item{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.6rem;
    letter-spacing: 0.05em;
    color: #8a7d6a;
}

.legend-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}


body {
    background: #f5f0e8;
    font-family: 'DM Mono', monospace;
    padding: 2rem;
    margin: 0;
}

header {
    border-bottom: 2px solid #1a1510;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 300;
}

h1 em{
    font-style: italic;
    color: #c1440e;
}

.style-tabs{
    display:flex;
    overflow-x: auto;
    border-bottom: 1px solid #d4c9b0;
    margin-bottom: 1.5rem;
}

.style-tabs button{
    flex-shrink: 0;
    padding: 0.9rem 1.2rem;
    font-family: 'DM Mono', monospace;
    font-size: 0.65rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #8a7d6a;
    cursor: pointer;
    border: none;
    background: none;
    border-right: 1px solid #d4c9b0;
    border-bottom: 3px solid transparent;
    transition: all 0.15s;
}

.style-tabs button:hover {
    color: #1a1510;
    background: rgba(0,0,0,0.02);
}

.style-tabs button.active-slot1{
    color: #c1440e;
    border-bottom: 3px solid #c1440e;
}

.style-tabs button.active-slot2{
    color: #2a7a3e;
    border-bottom: 1.5px solid #2a7a3e;
}

#stopBtn, #comparisonBtn, #closeComparison{
    font-family: 'DM Mono', monospace;
    font-size: 0.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.4rem 1rem;
    border: 1px solid #8a7d6a;
    color: #8a7d6a;
    cursor: pointer;
    background: none;
    transition: all 0.15s;
    margin-bottom: 1rem;
}

#stopBtn:hover, #comparisonBtn:hover, #closeComparison:hover{
    color: #c1440e;
    border:#c1440e;
}